@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* BACKGROUND GRADIENT ANIMATION */

body {
  background: radial-gradient(circle at 20% 30%, rgba(168,85,247,0.15), transparent 40%),
              radial-gradient(circle at 80% 70%, rgba(59,130,246,0.15), transparent 40%),
              #000000;
  animation: moveBackground 20s ease-in-out infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 20% 30%, 80% 70%;
  }
  50% {
    background-position: 25% 35%, 75% 65%;
  }
  100% {
    background-position: 20% 30%, 80% 70%;
  }
}